
<div style="text-align:center">
  <h1>    Welcome to {{ title }}!</h1>
  <br>
  <h2>{{lineOne}}</h2>
  <!--<img width="300" alt="Guns N' Roses Logo" src="logo.png">-->
</div>

<div *ngFor='let user of nextLines'>
  <h2>{{user.line}}</h2>
</div>
<h3>{{lastLine}}</h3>

<br>
<h4> Their popular songs: </h4>
<ul>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=8SbUC-UaAxE">November Rain</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=1w7OgIMMRc4">Sweet Child O'Mine</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=Rbm6GXllBiw">Paradise City</a></h4>
  </li>
</ul>

